* {
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 20px;
}
h1{
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #5281c3;
} 
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  /*position: fixed; */
  z-index: 10;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #5281c3;
}
.contenido {
  padding-top: 80px;
}
